.task{
   margin: 0 auto 20px;
 
}

.checkbox{
    margin:9px;
}
  
.active{
    border: 2px solid rgb(9, 13, 241) !important;
}

.done{
    border: 2px solid rgb(84, 84, 104) !important;
}

.checked{
    border: 2px solid rgb(241, 9, 9) !important;
}
