.title{
    font-size: 70px;
    font-weight: 700;
    color: rgb(3, 30, 43) ;
}

.pages{
    width: 80%;
    margin: 0 10%;
    background-color: rgb(81, 238, 238);
    color: rgb(6, 45, 63);
    font-size: 50px;
    font-weight: 700;
    padding: 7px;
    text-align: center;
}