.searchStyle {
    width: 100%;
    margin: 60px 0 20px;
    padding: 0 15px;
}

.spanStyles {
    font-size: 20px;
}

.contentForm {
    justify-content: center;
}
.contentForm > div > div > div {
    width: 100%;
}

.searchResponse {
    width: 75%;
}
.searchButtons {
    display: flex;
    width: 25%;
}
.searchButtons > div,
.searchButtons button {
    width: 100%;
}

@media all and (min-width: 320px) and (max-width: 768px) {
    .searchResponse {
        width: 100%;
    }
    .searchButtons > div,
    .searchButtons button {
        padding-top: 10px;
    }
}

