.isActive{
    color:  rgb(7, 167, 167);
    font-weight: bold;
    text-decoration: none!important;
    }

.navStyle{
    text-decoration: none;
    color:yellow;
} 

.login{
    padding-left: 15px;
    font-size: 20px;
}

.register{
    font-size: 20px;
}