.isActive {
    color: rgb(7, 167, 167);
    font-weight: bold;
    text-decoration: none !important;
}

.navStyle {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.login {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.register {
    font-size: 20px;
}

.about {
    padding-right: 15px;
    font-size: 19px;
}

.logout {
    padding-right: 15px;
}

.userName {
    text-align: right;
}
